:root {
  --yellow: #ffe175;
  --purple: #9b78b1;
  --purple-complimentary: #a7b078;
  --peach: #fca79f;
  --lightblue: rgba(0, 254, 254, 0.3);
  --blue: rgba(3, 103, 166, 1);
  --darkgrey: rgba(38, 69, 69, 0.9);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  background: #c99d91;
}

/* LAYOUT @media */

@media screen and (min-width: 760px) {
  .content {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 15px;
    grid-template-areas:
      ". . . . . . . . . . . ."
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_12 photo_12 photo_12 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

@media screen and (min-width: 1250px) {
  .content {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 15px;
    grid-template-areas:
      ". . . . . . . . . . . ."
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "main main main main main main main main main main main main"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_12 photo_12 photo_12 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

@media screen and (min-width: 1550px) {
  .content {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 15px;
    grid-template-areas:
      ". . . . . . . . . . . ."
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_12 photo_12 photo_12 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

/* HEADER */

header {
  grid-area: header;
  background: var(--yellow);
}

.text_wrapper h1 {
  color: black;
  font-size: 16vw;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  margin-top: 100px;
}

.text_wrapper h2 {
  color: black;
  font-size: 2vw;
  width: 100%;
  height: 100%;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-weight: lighter;
}

/* NAV */

.nav-wrapper {
  display: flex;
  width: 100%;
  height: 100px;
  background: #fff;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  position: fixed;
}

nav a {
  font-family: "Advent Pro", sans-serif;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-wrapper > a:hover {
  transform: scale(1.3);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/* HEADER  */

header {
  grid-area: header;
}

/* ASIDE */

/* MAIN */

main {
  grid-area: main;
  background: var(--purple);
  display: grid;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 10px;

  grid-template-areas:
    ". . . ."
    "img-1 img-1 text aside"
    "img-1 img-1 text aside"
    "img-1 img-1 text aside"
    "img-2 img-2 text aside"
    "img-2 img-2 text aside"
    "img-3 img-3 text aside"
    "img-3 img-3 text aside"
    "img-3 img-3 text aside"
    ". . . .";
}

.img1-wrapper {
  grid-area: img-1;
  border: 15px var(--peach) solid;
}
.img2-wrapper {
  grid-area: img-2;
  border: 15px var(--peach) solid;
}
.img3-wrapper {
  grid-area: img-3;
  border: 15px var(--peach) solid;
}

.main-text-wrapper {
  grid-area: text;
  border: 15px var(--peach) solid;
}

.main-aside-wrapper {
  grid-area: aside;
  border: 15px var(--peach) solid;
}
/* .main_content p {
  height: 100%;
  max-width: 800px;
  text-align: left;
  margin: -10px auto 20px auto;
  color: #176561;
  font-size: 12pt;
}

.main_content p::before {
  content: "\A";
  white-space: pre;
} */

/* ASIDE_2 */

/* SECTION */

section {
  grid-area: section;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 20px;
  grid-template-areas:
    "card-1 card-2 card-3"
    "card-1 card-2 card-3"
    "card-1 card-2 card-3"
    "card-1 card-2 card-3"
    "card-1 card-2 card-3"
    "card-1 card-2 card-3";

  background: var(--purple-complimentary);
}

/* IMG GALLERY */

.photo-1 {
  grid-area: photo_1;
  border: 15px solid var(--yellow);
}
.photo-1 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-2 {
  grid-area: photo_2;
  border: 15px solid var(--yellow);
}
.photo-2 img {
  height: 100%;
  width: 100%;
  display: block;
  transition: all 0.5s ease-in-out;
}
.photo-2 img:hover {
  transform: scale(1.06);
}

.photo-3 {
  grid-area: photo_3;
  border: 15px solid var(--yellow);
}
.photo-3 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-4 {
  grid-area: photo_4;
  border: 15px solid var(--yellow);
}
.photo-4 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-5 {
  grid-area: photo_5;
  border: 15px solid var(--yellow);
}
.photo-5 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-6 {
  grid-area: photo_6;
  border: 15px solid var(--yellow);
}
.photo-6 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-7 {
  grid-area: photo_7;
  border: 15px solid var(--yellow);
}
.photo-7 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-8 {
  grid-area: photo_8;
  border: 15px solid var(--yellow);
}
.photo-8 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-9 {
  grid-area: photo_9;
  border: 15px solid var(--yellow);
}
.photo-9 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-10 {
  grid-area: photo_10;
  border: 15px solid var(--yellow);
}
.photo-10 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-11 {
  grid-area: photo_11;
  border: 15px solid var(--yellow);
}
.photo-11 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-12 {
  grid-area: photo_12;
  border: 15px solid var(--yellow);
}
.photo-12 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo-13 {
  grid-area: photo_13;
  border: 15px solid var(--yellow);
}
.photo-13 img {
  height: 100%;
  width: 100%;
  display: block;
}

/* FOOTER */

footer {
  grid-area: footer;
  background-color: darkslategray;
}
