:root {
  --yellow: rgba(255, 241, 0, 0.6);
  --purple: rgba(95, 38, 116, 1);
  --orange: rgba(250, 96, 0, 0.6);
  --lightblue: rgba(0, 144, 209, 1);
  --blue: rgba(3, 103, 166, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  text-align: center;
}

/* LAYOUT @media */

@media screen and (min-width: 760px) {
  .content {
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 10px;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_12 photo_12 photo_12 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

@media screen and (min-width: 1250px) {
  .content {
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 10px;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      ". . . . . . . . . . . ."
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      ". . . . . . . . . . . ."
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      ". . . . . . . . . . . ."
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_12 photo_12 photo_12 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      ". . . . . . . . . . . ."
      "footer footer footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}

/* @media screen and (min-width: 1550px) {
  .content {
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-gap: 10px;
    grid-template-areas:
      "nav nav nav nav nav nav nav nav nav nav nav nav"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "aside aside aside aside header header header header header header header header"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "main main main main main main main main aside_2 aside_2 aside_2 aside_2"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "section section section section section section section section section section section section"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_1 photo_1 photo_2 photo_2 photo_2 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_5 photo_5 photo_5 photo_6 photo_6 photo_3 photo_3 photo_3 photo_7 photo_7 photo_7 photo_7"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_9 photo_9 photo_9 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_8 photo_8 photo_8 photo_8 photo_12 photo_12 photo_12 photo_10 photo_10 photo_10 photo_10 photo_10"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "photo_11 photo_11 photo_11 photo_11 photo_12 photo_12 photo_12 photo_13 photo_13 photo_13 photo_13 photo_13"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
} */

/* NAVIGATION */

nav {
  grid-area: nav;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav_container > a {
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.3s;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.nav_container > a:hover {
  transform: scale(1.3);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/* HEADER  */

header {
  grid-area: header;
}

header > .image {
  background-image: url(/img/andrew-ruiz-348421.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* ASIDE */

aside {
  grid-area: aside;
  background-color: aquamarine;
}

/* MAIN */

main {
  grid-area: main;
  background-color: var(--orange);
}

.main_content {
  height: 100%;
  max-width: 600px;
}

/* ASIDE_2 */

.aside_2 {
  grid-area: aside_2;
  background-color: var(--yellow);
}

/* SECTION */

section {
  grid-area: section;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "ex_h2 card_1 card_1 card_1 card_2 card_2 card_2 card_3 card_3 card_3"
    "ex_h2 card_1 card_1 card_1 card_2 card_2 card_2 card_3 card_3 card_3"
    "ex_h2 card_1 card_1 card_1 card_2 card_2 card_2 card_3 card_3 card_3"
    "ex_h2 card_1 card_1 card_1 card_2 card_2 card_2 card_3 card_3 card_3"
    "ex_h2 card_1 card_1 card_1 card_2 card_2 card_2 card_3 card_3 card_3"
    "ex_h2 card_1 card_1 card_1 card_2 card_2 card_2 card_3 card_3 card_3";
}

.ex_h2 {
  grid-area: ex_h2;
  background-color: aqua;
}

.card_1 .card_2 .card_3 {
  display: flex;
  flex-direction: column;
}

.card_1 {
  grid-area: card_1;
  background-color: beige;
}

.card_1 img {
  border-radius: 50%;
  margin: 30px auto 10px auto;
}

.card_2 {
  grid-area: card_2;
  background-color: beige;
}

.card_2 img {
  border-radius: 50%;
  margin: 30px auto 10px auto;
}

.card_3 {
  grid-area: card_3;
  background-color: beige;
}

.card_3 img {
  border-radius: 50%;
  margin: 30px auto 10px auto;
}

/* IMG GALLERY */

.photo_1 {
  grid-area: photo_1;
  border: 3px solid var(--yellow);
}
.photo_1 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_2 {
  grid-area: photo_2;
  border: 3px solid var(--purple);
}
.photo_2 img {
  height: 100%;
  width: 100%;
  display: block;
}
.photo_2 > img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.photo_3 {
  grid-area: photo_3;
  border: 3px solid var(--lightblue);
}
.photo_3 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_4 {
  grid-area: photo_4;
  border: 3px solid var(--orange);
}
.photo_4 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_5 {
  grid-area: photo_5;
  border: 3px solid var(--blue);
}
.photo_5 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_6 {
  grid-area: photo_6;
  border: none;
}
.photo_6 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_7 {
  grid-area: photo_7;
  border: 3px solid var(--yellow);
}
.photo_7 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_8 {
  grid-area: photo_8;
  border: 3px solid var(--orange);
}
.photo_8 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_9 {
  grid-area: photo_9;
  border: 3px solid var(--yellow);
}
.photo_9 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_10 {
  grid-area: photo_10;
  border: 3px solid var(--orange);
}
.photo_10 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_11 {
  grid-area: photo_11;
  border: 3px solid var(--purple);
}
.photo_11 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_12 {
  grid-area: photo_12;
  border: 3px solid var(--blue);
}
.photo_12 img {
  height: 100%;
  width: 100%;
  display: block;
}

.photo_13 {
  grid-area: photo_13;
  border: 3px solid var(--lightblue);
}
.photo_13 img {
  height: 100%;
  width: 100%;
  display: block;
}

/* FOOTER */

footer {
  grid-area: footer;
  background-color: darkslategray;
}
